extends layout.pug
block content 
  h1(class='form-heading') Create item
  form(method='post', action='/create-item', class='item-form', enctype="multipart/form-data")
    div(class='form-field')
      label(for='name') Name:
      input(name='name', type='text', required='true', value=(undefined==item ? '' : item.name))
    div(class='form-field')
      label(for='description') Description: 
      textarea(cols="30", rows="3", class='description' name='description', type='text', required='true', value=(undefined==item ? '' : item.description))
    div(class='form-field')
      input(type='hidden', name='categories', value='', id='selectedCategoriesInput')
      label(for='categories', class='select-label') Select Item Categories:
    div(class='category-select-container')
      div(class='left')
      each category in allCategories
        div(class='category-select') #{category.name}
      div(class='right')
      script. 
        //slider for categories
        const scrollLeft = document.querySelector('.left');
        const scrollRight = document.querySelector('.right');
        const slider = document.querySelector('.category-select-container');

        scrollLeft.addEventListener('mouseover', () => {
          slider.scrollBy({
            left: -200,  
            behavior: 'smooth', 
          });
        });

        scrollRight.addEventListener('mouseover', () => {
          slider.scrollBy({
            left: 200,  
            behavior: 'smooth',  
          });
        });

        //category selection logic
        const selectedCategories = []

        function toggleSelected(event){
          if(event.target.classList.contains('selected')){
            event.target.classList.remove('selected')
            const index = selectedCategories.indexOf(event.target.textContent);
            if (index !== -1) {
              selectedCategories.splice(index, 1);
            }
          }else{
            event.target.classList.add('selected')
            selectedCategories.push(event.target.textContent)
          }

          const selectedCategoriesJSON = JSON.stringify(selectedCategories);
          selectedCategoriesInput.value = selectedCategoriesJSON;
        }

        const allCategorySelects = document.querySelectorAll('.category-select')
        allCategorySelects.forEach((category) => {
          category.addEventListener('click', toggleSelected)
        })
    div(class='form-field')
      label(for='price') Price: 
      input(type='number', name='price', value=(undefined==item ? '' : item.price), required='true')
    div(class='form-field')
      label(for='inStock') Quantity In Stock: 
      input(type='number', name='inStock', value=(undefined==item ? '' : item.inStock), required='true')
    div(class='form-field image')
      input(type='file', accept='image/*', class='hidden', name='itemImage', required='true')
    button(type='submit', class='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg