extends layout.pug
block content
  section(class='content')
    div(class='text-and-button')
      h1(class='headline') A CRUD Shopping Experience Made By The People For The People
      h4(class='explanation') An online shopping experience that allows for the users to create the store themselves.
      button(class='to-shop') Shop Now
      script. 
        const btn = document.querySelector('.to-shop')
        btn.addEventListener('click', () => {window.location.href = '/shop'})
        
    img(class='content-image' src='/images/basket.png', alt='Green Sign', width='420', height='350')

