html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    div(class='main-container') 
      ul(class='nav')  
        each category in all_categories 
          li #{category.name}
      block content
