html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    div(class='main-container') 
      img(src='/images/logo.png', alt='beatiful and humerous logo', width='100', height='100')
      ul(class='nav')
        if all_categories && all_categories.length > 0
          each category in all_categories 
            li #{category.name}
      block content
