extends layout.pug
block content
  section(class='shop-page')
    div(class='scroll-left') 
    div(class='slider')
      each category in allCategories 
        a(href=category.url) 
          div(class='category-container') #{category.name}
    div(class='scroll-right') 

  script. 
    const scrollLeft = document.querySelector('.scroll-left');
    const scrollRight = document.querySelector('.scroll-right');
    const slider = document.querySelector('.slider');

    scrollLeft.addEventListener('mouseover', () => {
      slider.scrollBy({
        left: -600,  
        behavior: 'smooth', 
      });
    });

    scrollRight.addEventListener('mouseover', () => {
      slider.scrollBy({
        left: 600,  
        behavior: 'smooth',  
      });
    });
  