body {
  padding: 0;
  margin: 0;
  background-color: rgb(211, 209, 209);
  font-family: helvetica;
}

.logo {
  margin-left: 8vw;
  margin-top: 1.6vh;
}

.top-bar {
  display:flex;
  height: 20vh;
}

.nav-bar {
  display:flex;
  margin-top:5.2vh;
  margin-left:auto;
  margin-right: 8vw;
}

.nav-item {
  padding: 0 1.3vw;
  font-size: 1.3vw;
  font-weight: 500;
  height:4vh;
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}

.first {
  border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.last {
  border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.filler {
  border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.content {
  margin-left: 9vw;
  margin-top: 9vh;
  height: 69.83vh;
  width: auto;
  display: flex;
}

.headline {
  color: #107a53;
  font-size: 2.3vw;
  width: 35vw;
}

.explanation {
  font-size: 1.4vw;
  width: 31vw;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

button {
  border:none;
  color: white;
  background-color: #00BEFF;
  border-radius:.6vh;
  padding: 1vh 1vw;
  cursor: pointer;
}

button:hover {
  background-color: #2FA8E1;
}

.to-shop {
  margin-top: 1vh;
  height: 5vh;
  font-size:2.2vh;
  font-weight: 500;
}

.content-image {
  margin-left: 16vw;
}