body {
  padding: 0;
  margin: 0;
  background-color: rgb(211, 209, 209);
  background-image: paint(tinySpecksPattern);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  margin-left: 8vw;
  margin-top: 1.6vh;
}

.top-bar {
  margin-top: 2.5vh;
  display:flex;
  height: 20vh;
}

.nav-bar {
  display:flex;
  margin-top:5.2vh;
  margin-left:auto;
  margin-right: 8vw;
}

.nav-item {
  padding: 0 1.3vw;
  font-size: 1.3vw;
  font-weight: 500;
  height:4vh;
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}

@media screen and (max-width:1300px) {
  .nav-item  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.first {
  border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.last {
  border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.filler {
  border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.content {
  margin-left: 9vw;
  margin-top: 9vh;
  height: 67.33vh;
  width: auto;
  display: flex;
}

.headline {
  color: #107a53;
  font-size: 2.3vw;
  width: 35vw;
}

.explanation {
  font-size: 1.4vw;
  width: 31vw;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

button {
  border:none;
  color: white;
  background-color: #00BEFF;
  border-radius:.6vh;
  padding: 1vh 1vw;
  cursor: pointer;
}

button:hover {
  background-color: #0092DC;
}

.to-shop {
  margin-top: 1vh;
  height: 5vh;
  font-size:2.2vh;
  font-weight: 500;
}

.content-image {
  margin-left: 16vw;
}

form {
  display:flex;
  flex-direction: column;
  gap:1vh;
  width: 45vw;
  margin:auto;
  background-color: #107a531e;
  padding:2vh 1vw;
  border-radius: .5vh;
}


.category-select-container {
  display: flex;
  gap: 1vw;
  overflow-x: hidden;
}

.category-select {
  background-color: #107a53;
  color: white;
  padding: 1vh 1vw;
  border-radius: .5vh;
  cursor: pointer;
}

.category-select:not(.selected):hover {
  background-color: #107a5394;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.hidden {
  border:none;
  display: inline-block;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  border: 2px solid #0ca848ae;
  padding: .2em .4em;
  border-radius: .2em;
  background-color:#107a538a;
  transition: 1s;
  margin-left: 14.5vw;
  margin-right: 1.5vw;
}

h1 {
  color:#107a53;
 
  font-size: 5vh;
}

.selected {
  background-color:#0ca847;
}

label {
  font-weight: 300;
  font-size: smaller;
}

textarea {
  border-radius: .5vh;
  resize: vertical;
  max-height: 22vh;
  min-height:5vh;
  border: 1px solid #ccc;
  padding: 1vh ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

.select-label {
  margin-bottom: -.8vh;
}

input {
  height: 5vh;
  border-radius: .5vh;
  border: 1px solid #ccc;
  padding: 1vh ;
  font-size:medium;
}

.form-heading {
  text-align: center;
  margin-top: -3vh;
}

.submit {
  margin-top: 1vh;
  font-size: 2vh;
  height: 6vh;
}

.shop-page {
  display: flex;

}

.slider {
  transition: scrollLeft 0.3s ease-in-out;
  display: flex;
  gap:1vw;
  max-width: 80vw;
  overflow-x: hidden;
  margin: auto;
  margin-top: 10vh;
}

a, li{
  text-decoration: none;
  list-style: none;
}

.category-container {
  height: 40vh;
  width: 30vw;
  border: 2px solid black;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 2.5vw; 
  background-color: rgba(255, 255, 255, 0.484);
  color:black;
}

.category-container:hover {
  background-color: #107a533a;
}

.scroll-left,
.scroll-right {
  background-image: url('/images/next.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  width:10vw;
  height: 10vh;
  position: relative;
  top: 175;
}

.scroll-left {
  transform: scaleX(-1);
  left: 20;
}

.scroll-right {
  right: 20;
}

.right, .left {
  position:absolute;
  width: 2vw;
  height: 8vh;
  top: 410;
}






.right {
  right: 385;
}

.left {
  left: 390;
}


@media screen and (max-width:1300px) {
  .left {
    left: 310;
  }
  
  .right {
    left: 900;
  }
}

@media screen and (max-width: 1200px){
  .right {
    left: 845;
  }
}


@media screen and (max-width: 1150px){
  .right{
    left: 810;
  }

  .left {
    left: 295;
  }
}



.items {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  margin-top: -2.5vh;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1vw;
  height: auto;
  margin-left: 5vw;
}

.item-container {
  width:20vw;
  height: 50vh;
  margin-bottom: 2vw;
  border-radius: .6vh;
  background-color:rgba(255, 255, 255, 0.566);
}

.category-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.category-image {
  width: 80%;
  height: 80%;
}

.item-container:hover {
  outline: 2px solid black;
  outline-offset: -2px;

}

.item-container:hover .item-details {
  outline: 2px solid black;
  outline-offset: -2px;
  outline-style: none;
}

@media screen and (max-width: 51vw) {
  .main-container {
    grid-template-columns: 1fr; 
  }
}

.item-details {
  display: flex;
  flex-direction: column;
  color: black;
}

.category-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vh 0;
  height: fit-content;
  margin-left: 8.5vw;
}

.price {
  position: relative;
  bottom: 21;
  left: 10;
  width: fit-content;
  padding: 0 1vh;
  background-color: rgb(211, 209, 209);
  transition: transform .3s ease-in-out;
}

.name {
  position: relative;
  bottom: 22;
  left: 10;
}

.item-container:hover .price {
  transform: translateY(-8px);
}


.category-name {
  text-align: center;
  font-weight:700;
}

.category-description {
  width: 50vw;
  font-size:medium;
  position: relative;
  top:3.5;
}

.seperator {
  color: white;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: large;
}

.description {
  resize: none;
}

.item-page {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 6vh;
}

.item-image {
  width: 23.5vw;
  height: 55vh;
  border-radius: .8vh;
  
}

.item-information {
  display: flex;
  flex-direction: column;
  
}

.item-description {
  font-weight: 400;
  font-size: 2.5vh;
  margin-bottom: -.1vh;
  max-width: 25vw;
}

.bottom-info {
  display: flex;
  align-items: center;
  margin-top: -1vh;
}

.add-to-cart {
  width: 12.5vw;
}

.category-link-container {
  display: flex;
  gap: .7vw;
}

.item-name {
  margin-top: -1vh;
  margin-bottom: -1vh;
}

.price-seperator {
  color: white;
  font-weight: 600;
  margin-left: .75vw;
  margin-right:.75vw;
  margin-top: .9vh;
}

.item-image {
  background-color:rgba(255, 255, 255, 0.566);
}




 

